{% extends "base.html" %}
<html>
	<head>
		<title>Listar Usuarios</title>
	</head>
	{% block content %}
	<body>
	
	 <H2> Listar Usuarios </h2>
		<br/>
		<a  href="/clientes/crear" class="btn btn-primary" > Nuevo </a>
		<a  href="/" class="btn btn-default" > Cancelar </a>
		<br/><br/>
		<table class="table"><tr class="active">
		    <th>Id</th>
		    <th>Nombre/Razon Social </th>
		    <th>Email</th>
		    <th>Telefonos</th>
		  </tr> 
		{% for cli in clientes %}
		 <tr>
		   <td>
		   	<a href="#">{{cli.id}}</a> 
		   </td>
		   <td>
		    {% if cli.razonSocial  %} 
		     	{{cli.razonSocial}}
		    {% endif %}
		    {% if cli.nombres  %} 
                {{cli.nombres}}  {{cli.apellidos}} 
            {% endif %}
		   </td>
		   <td>
		   	{{cli.email}}
		   </td>
		   <td>
            {{cli.telefonos}}
           </td>	
		 </tr>
		{% endfor %}
	</body>
	{% endblock %}
</html>